@import url('reset.css');
@import url('base/_mixins.scss');
@import url('base/_variables.scss');
@import url('fonts/fonts.css');


header {
	background-color: #000000;
	width: 100%;
	font-family: 'Montserrat';

	.topwrapper {
		display: flex;

		.logo,
		.LoginWrapper {
			color: #ffff;
		}

		.logo {
			font-weight: 700;
			font-size: 20px;
			line-height: 24.38px;
		}

		.LoginWrapper {
			display: flex;
			justify-content: space-around;
			align-items: center;

			.LogIn {
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 17px;
			}


			.SignUp {
				width: 90px;
				height: 30px;
				border: #ffff 2px solid;
				border-radius: 40px;
				display: flex;
				justify-content: center;
				align-items: center;
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 17px;

			}

		}
	}

	.MainBlock {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		&__title {
			color: #ffff;
			font-size: 30px;
			font-weight: 700;
			line-height: 36.57px;
		}

		&__description {
			font-size: 18px;
			font-weight: 300;
			line-height: 24px;
			color: #F7F3F2;
		}

		.FindButton {
			background-color: #FF4E50;
			color: #ffff;
			width: 225px;
			height: 40px;
			border-radius: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
			line-height: 17px;
			cursor: pointer;
		}
	}

}

main {
	width: 100%;
}

.title {
	font-family: 'Montserrat';

	font-weight: 700;
	font-size: 22px;
	line-height: 26.82px;
	text-align: center;
	color: #444444;
}

@media screen and (max-width:767px) {
	header {
		height: 540px;
		background-image: url(images/ipad/HeadaerPromo.png);
		background-size: cover;

		.topwrapper {
			justify-content: center;
			align-items: center;
			flex-direction: column-reverse;

			.LoginWrapper {
				width: 153px;
				height: 36px;
				margin-top: 20px;
			}

			.logo {
				margin-top: 97px;
			}
		}

		.MainBlock {
			display: flex;
			margin-top: 26.5px;

			&_title {
				color: #ffff;
				font-weight: bold;
				font-size: 30px;
				line-height: 37px;
				text-align: center;
			}

			&_description {
				color: #F7F3F2;
				font-weight: 300;
				font-size: 18px;
				line-height: 24px;
				text-align: center;
				margin-top: 5.5px;
			}

			.FindButton {
				margin-top: 15px;
				outline: none;
				border: none;
				cursor: pointer;
			}
		}
	}



	.section_one {
		height: 781px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin-top: 35px;
	}

	.section_two {
		height: 1090px;

		margin-top: 36px;
	}


	.section {

		&__heading {
			width: 289px;
			height: 27px;
			margin: 0 auto;
			margin-bottom: 15px;
		}

		.steps {

			height: 745px;
			display: flex;
			justify-content: space-between;
			flex-direction: column;

			&__step {
				width: 300px;
				height: 240px;

				border-radius: 4px;
				display: flex;
				justify-content: flex-end;
				flex-direction: column;
				padding-left: 20px;
				background-size: cover;

				.step_button {
					width: 70px;
					height: 20px;
					background: #FF4E50;
					border-radius: 40px;
					font-family: Montserrat;
					font-style: normal;
					font-weight: normal;
					font-size: 10px;
					line-height: 12px;
					color: #FFFFFF;
					display: flex;
					align-items: center;
					justify-content: center;
				}

				.step_Heading {
					font-family: 'Montserrat';
					font-style: normal;
					font-weight: bold;
					font-size: 24px;
					line-height: 14px;
					color: #FFFFFF;
					width: 250px;
					height: 58px;
					margin-top: 15px;
					display: flex;
					align-items: flex-end;
				}

				.step_text {
					width: 250px;
					height: 57px;
					font-family: 'Roboto';
					font-style: normal;
					font-weight: 300;
					font-size: 14px;
					line-height: 14px;
					color: #E3E3E3;
					display: flex;
					align-items: flex-end;
					margin-top: 10px;
					margin-bottom: 16px;
				}
			}

			.one {
				background-image: url(images/ipad/Step1.png);
			}

			.two {
				background-image: url(images/ipad/Step2.png);
			}

			.three {
				background-image: url(images/ipad/Step3.png);
			}
		}

		// end of section1	
	}


	.section {

		.persons {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;


			.person {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;

				&__name {
					font-family: 'Montserrat';
					font-style: normal;
					font-weight: bold;
					font-size: 14px;
					line-height: 17px;
					display: flex;
					align-items: flex-end;
					text-align: center;
					color: #444444;
					margin-top: 17px;
				}

				&__info {
					width: 236px;
					height: 38px;
					font-family: 'Roboto';
					font-style: normal;
					font-weight: 300;
					font-size: 14px;
					line-height: 14px;
					display: flex;
					align-items: flex-end;
					text-align: center;
					color: #666666;
					margin-top: 12px;
				}

				.avatar {
					margin-top: 16px;
					height: 138px;

					&__photo {
						width: 120px;
						height: 120px;
						background-size: contain;
						border-radius: 50%;

						&_photo1 {
							background-image: url(images/ipad/Bradley.png);
						}

						&_photo2 {
							background-image: url(images/ipad/Diana.png);
						}

						&_photo3 {
							background-image: url(images/ipad/Marie.png);
						}

						&_photo4 {
							background-image: url(images/ipad/Christofer.png);
						}

					}

					&__logo {
						width: 32px;
						height: 32px;
						border-radius: 50%;
						position: relative;
						left: 87px;
						bottom: 29px;
						box-shadow: 0px 0px 0px 4.5px #FFFFFF;

						&_logo1 {
							background: url(images/music2_1.svg) 50% 50% no-repeat;
							background-color: #FF4E50;
						}

						&_logo2 {
							background: url(images/camera1.svg) 50% 50% no-repeat;
							background-color: #FFA710;
						}

						&_logo3 {
							background: url(images/brush1.svg) 50% 50% no-repeat;
							background-color: #19D4CA;
						}

						&_logo4 {
							background: url(images/airplane1.svg) 50% 50% no-repeat;
							background-color: #667DF3;
						}
					}


				}

			}

			.SeeButton {
				width: 280px;
				height: 40px;
				border-radius: 40px;
				border: 2px solid #FF4E50;
				color: #FF4E50;
				font-family: Montserrat;
				font-style: normal;
				font-weight: bold;
				font-size: 14px;
				line-height: 17px;

				display: flex;
				align-items: center;
				justify-content: center;
				margin-top: 36px;
				outline: none;
				background-color: #fff;
				cursor: pointer;
			}
		}
	}

	// End of section_two



	.section_three {
		height: 995px;

	}


	.section {
		&__heading {
			&_DiscoverText {
				width: 264px;
				height: 54px;
				margin-top: 35px;


			}
		}

		.QuadranglelWrapper {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 890px;


			.quadrangle {
				height: 120px;
				background-size: cover;
				border-radius: 4px;
				display: flex;
				align-items: center;
				text-align: center;
				justify-content: center;

				&_text {
					height: 54px;
					font-family: 'Montserrat';
					font-style: normal;
					font-weight: bold;
					font-size: 22px;
					line-height: 27px;
					display: flex;
					align-items: center;
					justify-content: center;
					color: #FFFFFF;
				}

				&_num1 {
					background-image: url(images/ipad/Sport.png);
				}

				&_num2 {
					background-image: url(images/ipad/Health.png);
				}

				&_num3 {
					background-image: url(images/ipad/Extreme.png);
				}

				&_num4 {
					background-image: url(images/ipad/Games.png);
				}

				&_num5 {
					background-image: url(images/ipad/Culture.png);
				}

				&_num6 {
					background-image: url(images/ipad/CultureCopy.png);
				}

				&_num7 {
					background-image: url(images/ipad/GamesCopy.png);
				}
			}
		}
	}

	// end of section three

	.section-four {
		height: 192px;
		margin-top: 35px;
	}

	.section {
		&__heading {

			&_CreateText {
				width: 280px;
				height: 54px;
			}
		}

		&__form {

			&_heading {
				height: 24px;
				font-family: Roboto;
				font-style: normal;
				font-weight: 300;
				font-size: 18px;
				line-height: 14px;
				display: flex;
				justify-content: center;

				color: #666666;

			}

			&__wrapper {
				width: 280px;
				height: 90px;
				display: flex;
				flex-direction: column;
				justify-content: center;

				margin: 0 auto;

				&_placeholder {
					width: 280px;
					height: 35px;
					border: 1px solid #D4D4D4;
					box-sizing: border-box;
					box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
					border-radius: 3px;

				}

				&_button {
					width: 280px;
					height: 40px;
					background: #FF4E50;
					border-radius: 40px;
					color: #FFFFFF;
					font-family: 'Montserrat';
					margin-top: 10px;
					outline: none;
					border: none;
					cursor: pointer;
				}

			}


		}
	}

	.footer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: 22px;
		border-top: 3px solid #FF4E50;


		&_logo {
			font-family: Montserrat;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			color: #FF4E50;
			margin: 0 auto;
			margin-top: 18px;
		}

		&__list {



			&_heading {
				font-family: 'Montserrat';
				font-style: normal;
				font-weight: bold;
				font-size: 14px;
				line-height: 17px;
				text-align: center;
				color: #444444;
				margin-top: 13px;
			}

			&__wrapper {

				height: 20px;
				display: flex;
				justify-content: space-around;
				margin-left: 50px;
				margin-right: 50px;

				&_item {
					font-family: 'Roboto';
					font-style: normal;
					font-weight: 300;
					font-size: 14px;
					line-height: 26px;
					text-align: center;
					color: #999999;
					cursor: pointer;
					cursor: pointer;
				}
			}
		}

		&__designe {
			margin-left: auto;
			margin-right: auto;
			margin-top: 14px;


			&_text {
				width: 83px;
				height: 12px;
				font-family: Montserrat;
				font-style: normal;
				font-weight: bold;
				font-size: 10px;
				line-height: 12px;

				letter-spacing: 1px;
				color: #CCCCCC;
				position: relative;
				left: 16px;

			}

			&_image {

				width: 110px;
				height: 24px;
				background-image: url(images/ipad/Bitmap.png);
				position: relative;

				margin-top: 7px;
				margin-bottom: 22px;
			}
		}

	}

}


@media screen and (min-width:767px) {

	header {
		height: 700px;
		background-image: url(images/pcsreen/HeadaerAndPromo.png);
		background-size: cover;

		.topwrapper {
			display: flex;
			justify-content: space-between;
			margin-left: 50px;
			margin-right: 48px;


			.logo {
				margin-top: 46px;
			}

			.LoginWrapper {
				width: 153px;
				height: 36px;
				margin-top: 42px;
			}


		}

		.MainBlock {
			display: flex;
			margin-top: 153.5px;

			&_title {
				color: #ffff;
				font-weight: bold;
				font-size: 52px;
				line-height: 63.39px;
				text-align: center;
			}

			&_description {
				color: #F7F3F2;
				font-weight: 300;
				font-size: 24px;
				line-height: 24.5px;
				text-align: center;
				margin-top: 28.5px;
			}

			.FindButton {
				margin-top: 45px;
				outline: none;
				border: none;
				cursor: pointer;
			}
		}
	}

	.section_one {
		height: 461px;
		display: flex;

		flex-direction: column;
		margin-top: 94px;
	}

	.section {
		width: 100%;

		&__heading {
			width: 289px;
			height: 27px;
			margin: 0 auto;
			margin-bottom: 35px;
		}

		.steps {
			width: 748px;
			height: 400px;
			display: flex;
			justify-content: space-between;
			margin: 0 auto;


			&__step {
				width: 230px;
				height: 400px;

				border-radius: 4px;
				display: flex;
				justify-content: flex-end;
				flex-direction: column;
				padding-left: 5px;
				background-size: cover;

				.step_button {
					width: 70px;
					height: 20px;
					background: #FF4E50;
					border-radius: 40px;
					font-family: Montserrat;
					font-style: normal;
					font-weight: normal;
					font-size: 10px;
					line-height: 12px;
					color: #FFFFFF;
					display: flex;
					align-items: center;
					justify-content: center;
				}

				.step_Heading {
					font-family: 'Montserrat';
					font-style: normal;
					font-weight: bold;
					font-size: 24px;
					line-height: 14px;
					color: #FFFFFF;
					width: 250px;
					height: 58px;
					margin-top: 18px;
					display: flex;
					align-items: flex-end;
				}

				.step_Heading2 {
					margin-top: -20px;

				}

				.step_text {
					width: 250px;
					height: 57px;
					font-family: 'Roboto';
					font-style: normal;
					font-weight: 300;
					font-size: 14px;
					line-height: 14px;
					color: #E3E3E3;
					display: flex;
					align-items: flex-end;
					margin-top: 12px;
					margin-bottom: 16px;
				}
			}

			.one {
				background-image: url(images/pcsreen/Step1.png);
			}

			.two {
				background-image: url(images/pcsreen/Step2.png);

			}

			.three {
				background-image: url(images/pcsreen/Step3.png);
			}
		}


	}

	// end of section1

	.section_two {
		display: flex;
		align-items: center;
		flex-direction: column;
		margin-top: 94px;
		margin-bottom: 95px;

	}

	.section {

		&_MeetApartner {
			width: 416px;
			height: 27px;
			margin-bottom: 35px;
		}

		.persons {
			display: flex;
			justify-content: center;

			width: 512px;
			height: 575px;
			flex-wrap: wrap;


			.person {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				margin-right: 10px;
				margin-left: 10px;

				&__name {
					font-family: 'Montserrat';
					font-style: normal;
					font-weight: bold;
					font-size: 14px;
					line-height: 17px;
					display: flex;
					align-items: flex-end;
					text-align: center;
					color: #444444;
					margin-top: 17px;

					&_Pierce {
						margin-top: 1px;
					}

					&_Diana {
						margin-top: 12px;
					}
				}

				&__info {
					width: 236px;
					height: 38px;
					font-family: 'Roboto';
					font-style: normal;
					font-weight: 300;
					font-size: 14px;
					line-height: 14px;
					display: flex;
					align-items: flex-end;
					text-align: center;
					color: #666666;
					margin-top: 12px;

					&_Pierce {
						margin-top: 0px;
					}

					&_Diana {
						margin-top: 20px;

					}
				}

				.avatar {
					margin-top: 16px;
					height: 138px;

					&__photo {
						width: 120px;
						height: 120px;
						background-size: contain;
						border-radius: 50%;

						&_photo1 {
							background-image: url(images/ipad/Bradley.png);
						}

						&_photo2 {
							background-image: url(images/ipad/Diana.png);
						}

						&_photo3 {
							margin-top: 12px;
							background-image: url(images/ipad/Marie.png);
						}

						&_photo4 {
							background-image: url(images/ipad/Christofer.png);
						}

					}

					&__logo {
						width: 32px;
						height: 32px;
						border-radius: 50%;
						position: relative;
						left: 87px;
						bottom: 29px;
						box-shadow: 0px 0px 0px 4.5px #FFFFFF;

						&_logo1 {
							background: url(images/music2_1.svg) 50% 50% no-repeat;
							background-color: #FF4E50;
						}

						&_logo2 {
							background: url(images/camera1.svg) 50% 50% no-repeat;
							background-color: #FFA710;
						}

						&_logo3 {
							background: url(images/brush1.svg) 50% 50% no-repeat;
							background-color: #19D4CA;
						}

						&_logo4 {
							background: url(images/airplane1.svg) 50% 50% no-repeat;
							background-color: #667DF3;
						}
					}


				}

			}

			.SeeButton {
				width: 280px;
				height: 40px;
				border-radius: 40px;
				border: 2px solid #FF4E50;
				color: #FF4E50;
				font-family: Montserrat;
				font-style: normal;
				font-weight: bold;
				font-size: 14px;
				line-height: 17px;

				display: flex;
				align-items: center;
				justify-content: center;
				margin-top: 40px;
				outline: none;
				background-color: #fff;
				cursor: pointer;
			}
		}
	}

	// End of section_two

	.section {
		&__heading {
			&_DiscoverText {
				width: 350px;
				height: 27px;
				margin-top: 35px;


			}
		}

		.QuadranglelWrapper {
			display: flex;

			justify-content: space-between;
			height: 970px;
			width: 748px;
			flex-wrap: wrap;
			margin: 0 auto;



			.quadrangle_num5,
			.quadrangle_num6 {
				width: 492px;
			}

			.quadrangle_num1,
			.quadrangle_num2,
			.quadrangle_num3,
			.quadrangle_num4,
			.quadrangle_num7 {
				width: 236px;
			}

			.quadrangle {
				height: 310px;
				background-size: cover;
				border-radius: 4px;
				display: flex;
				align-items: center;
				text-align: center;
				justify-content: center;


				&_text {

					height: 54px;
					font-family: 'Montserrat';
					font-style: normal;
					font-weight: bold;
					font-size: 22px;
					line-height: 26.82px;
					display: flex;
					align-items: center;
					justify-content: center;
					color: #FFFFFF;
				}

				&_num1 {
					background-image: url(images/pcsreen/Sport.png);
				}

				&_num2 {
					background-image: url(images/pcsreen/Health.png);
				}

				&_num3 {
					background-image: url(images/pcsreen/Extreme.png)
				}

				&_num4 {
					background-image: url(images/pcsreen/Games.png);
				}

				&_num5 {
					background-image: url(images/pcsreen/Culture.png);
				}

				&_num6 {
					background-image: url(images/pcsreen/Enjoyment.png);
				}

				&_num7 {
					background-image: url(images/pcsreen/Travelling.png);
				}
			}
		}
	}

	// end of section three


	.section-four {
		height: 192px;
		margin-top: 94px;
	}

	.section {
		&__heading {

			&_CreateText {
				width: 303px;
				height: 27px;
			}
		}

		&__form {

			&_heading {
				width: 415px;
				height: 24px;
				font-family: Roboto;
				font-style: normal;
				font-weight: 300;
				font-size: 18px;
				line-height: 14px;
				display: flex;
				justify-content: center;

				color: #666666;
				margin: 0 auto;
			}

			&__wrapper {
				width: 482px;
				height: 40px;
				display: flex;

				justify-content: space-between;
				align-items: baseline;
				margin: 25px auto 0;


				&_placeholder {
					width: 280px;
					height: 35px;
					border: 1px solid #D4D4D4;
					box-sizing: border-box;
					box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
					border-radius: 3px;

				}

				&_button {
					width: 172.12px;
					height: 40px;
					background: #FF4E50;
					border-radius: 40px;
					color: #FFFFFF;
					font-family: 'Montserrat';

					outline: none;
					border: none;
					cursor: pointer;
				}

			}


		}
	}

	// End of .section-four

	.footer {
		display: flex;

		justify-content: center;
		margin-top: 22px;
		border-top: 3px solid #FF4E50;
		height: 224px;
		margin-bottom: 20px;


		&_logo {
			width: 119px;
			height: 20px;
			font-family: Montserrat;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			color: #FF4E50;

			margin-top: 38px;
			margin-left: 39px;
			margin-right: 108px;
		}

		&__list {


			&_heading {
				width: 70px;
				height: 17px;
				font-family: 'Montserrat';
				font-style: normal;
				font-weight: bold;
				font-size: 14px;
				line-height: 17px;
				text-align: center;
				color: #444444;
				margin-top: 38px;
			}

			.headingPartner {
				margin-left: 100px;
				margin-right: 118px;
			}


			&__wrapper {
				width: 114px;

				display: flex;

				flex-direction: column;


				&_item {
					font-family: 'Roboto';
					font-style: normal;
					font-weight: 300;
					font-size: 14px;
					line-height: 26px;

					color: #999999;
					cursor: pointer;
					cursor: pointer;
				}
			}
		}

		&__designe {

			margin-top: 38px;


			&_text {
				width: 83px;
				height: 12px;
				font-family: Montserrat;
				font-style: normal;
				font-weight: bold;
				font-size: 10px;
				line-height: 12px;

				letter-spacing: 1px;
				color: #CCCCCC;
				position: relative;

				margin-right: 20px;

			}

			&_image {

				width: 110px;
				height: 24px;
				background-image: url(images/ipad/Bitmap.png);
				position: relative;
				right: 24px;
				margin-top: 7px;

				background-size: contain;
			}
		}

	}
}

@media screen and (min-width:1439px) {

	.title {
		font-size: 27px;

	}

	.section {
		width: 100%;

		&__heading {

			&_title1 {
				width: 342px;
				height: 32px;
			}

			&_DiscoverText {
				width: 413px;
				height: 32px;
			}

			&_CreateText {
				width: 358px;
				height: 32px;
			}

		}

		.steps {
			width: 941px;

			&__step {
				width: 300px;
			}
		}
	}

	// end of section1

	.section {

		&_MeetApartner {
			width: 491px;
			height: 32px;
			margin-bottom: 35px;
		}

		.persons {
			display: flex;
			justify-content: center;

			width: 1024px;
			height: 284px;
			flex-wrap: wrap;


			.person {

				&__name {

					&_Pierce {
						margin-top: 14px;
						margin-bottom: 14px;
					}

					&_Diana {
						margin-top: 24px;
						margin-bottom: 15px;

					}
				}

			}

			&__info {

				&_Diana {
					margin-top: 17px;

				}

				&_Pierce {
					margin-top: 4px;
				}

			}
		}

	}

	// end of section two


	.section {

		.QuadranglelWrapper {
			width: 940px;
			height: 1031px;

			.quadrangle {
				width: 300px;
			}

			.quadrangle_num5,
			.quadrangle_num6 {
				width: 620px;
			}
		}
	}

	// end of section-three


	.footer {
		justify-content: space-around;

		&_logo {
			margin-left: 249px;
			margin-right: 122px;
		}

		&__list {

			.headingPartner {
				margin-left: 169px;
				margin-right: 287px;
			}


		}

		&__designe {
			&_text {
				margin-right: 247px;
			}

		}


	}

}